{% extends 'overallsystem/layout.html' %}
{% block content %}

<!-- code goes here -->
<form method="get" autocomplete="off" class="text-center">
	{{ form }}
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
<div class="row">
	<div class="col-md-6">
		<div class="text-center">
			<h3>Songs</h3>
			{% for track in songs %}
				{{ track }}
			{% endfor %}
		</div>
	</div>
	<div class="col-md-6">
		<div class="text-center">
			<h3>Recommended Songs</h3>
			{% for track in rec_songs %}
				<div>{{ track }}</div>
			{% endfor %}
		</div>
	</div>
</div>

{% endblock %}