{% extends 'overallsystem/layout.html' %}
{% block sidebar %}

<!-- Sidebar -->
<div id="sidebar-wrapper">
	<ul class="sidebar-nav">
		<li class="sidebar-brand">
			<a href="">Music<span>Dudes</span></a>
		</li>
		<li class="active">
			<a href="#browse"><i class="fas fa-home"></i>Browse</a>
		</li>
		<li>
			<a href="#playlists"><i class="fas fa-folders"></i>Playlists</a>
		</li>
		<li>
			<a href="#favorites"><i class="fas fa-heart"></i>Favorites</a>
		</li>
	</ul>
	<div class="cr_pl">
		<a href="#create_playlist"><i class="far fa-plus-circle"></i>Create Playlist</a>
	</div>
</div>
<!-- Top Bar -->
<div class="top-bar">
	<div class="search">
		<div class="input-group">
			{{ form.search }}
			<div class="input-group-append">
				<i class="input-group-text fal fa-search"></i>
			</div>
		</div>
	</div>
	<div class="btn-group">
		<button class="btn dropdown-toggle fal fa-user-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">username</button>
		<div class="dropdown-menu dropdown-menu-right">
			<button class="dropdown-item" type="button">Account</button>
			<button class="dropdown-item" type="button">Log Out</button>
		</div>
	</div>
</div>
<!-- Controls Bar -->
<div class="controls-bar">
	<div class="controls-bar-left">
		<div class="now-playing">
			<span draggable="true">
				<a href="#now-playing">
					<div class="cover-shadow">
						<div class="cover-img"></div>
					</div>
				</a>
			</span>
			<div class="track-info">
				<div class="track-info-name">
					<div class="context-wrapper">
						<span>
							<a href="#now-playing-name">Track Name</a>
						</span>
					</div>
				</div>
				<div class="track-info-artists">
					<div class="context-wrapper">
						<span>
							<a href="#now-playing-artists">Artists</a>
						</span>
					</div>
				</div>
			</div>
			<div class="button-add">
				<button class="fal fa-plus" title="Add to Playlist"></button>
				<button class="fal fa-heart" title="Add to Favorites"></button>
			</div>
		</div>
	</div>
	<div class="controls-bar-center">
		<div class="player-controls-buttons">
			<button class="fal fa-random" title="Enable shuffle"></button>
			<button class="fal fa-step-backward" title="Previous"></button>
			<button class="fas fa-play" title="Play"></button>
			<button class="fal fa-step-forward" title="Next"></button>
			<button class="fal fa-repeat-alt" title="Enable repeat"></button>
		</div>
		<div class="playback-bar">
			<div class="playback-bar-progress-time">0:18</div>
			<div class="progress">
				<div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
			<div class="playback-bar-progress-time">3:00</div>
		</div>
	</div>
	<div class="controls-bar-right">
		<div class="extra-controls">
			<button class="fal fa-bars" title="Queue"></button>
			<div class="volume-bar">
				<button class="fal fa-volume" aria-label="Mute"></button>
				<div class="progress">
					<div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Main View -->
<div class="main-view">
	<div class="all-songs">
		<div class="all-songs-title">
			<h5>All Songs</h5>
		</div>
		<div class="songs-container">
			<div class="song-bdr-top">
				<h6>Listens</h6>
				<h6>Ratings</h6>
			</div>
			{% for track in songs %}
			<div class="song">
				<button class="fas fa-play" id="{{ track.id }}"></button>
				<div class="song-info">
					<div class="song-info-name">{{ track.track_name }}</div>
					<div class="song-info-artists">{{ track.artists }}</div>
				</div>
				<div class="song-duration">0:00</div>
				<div class="button-add">
					<button class="fal fa-heart" title="Add to Favorites"></button>
					<button class="fal fa-plus" title="Add to Playlist"></button>
				</div>
				<div class="listens-ratings">
					<div class="listens">00001</div>
					<div class="ratings">100%</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	<div class="rec">
		<div class="rec-title">
			<h5>Suggested Songs</h5>
		</div>
		<div class="rec-container">
			{% include 'overallsystem/recommendations.html' %}
		</div>
	</div>
</div>
{% endblock %}