{% extends 'overallsystem/layout.html' %}
{% block sidebar %}

<!-- Sidebar -->
<div id="sidebar-wrapper">
	<ul class="sidebar-nav">
		<li class="sidebar-brand">
			<a href="">Music<span>Dudes</span></a>
		</li>
		<li class="active">
			<a href="#browse"><i class="fas fa-home"></i>Browse</a>
		</li>
		<li>
			<a href="#playlists"><i class="fas fa-folders"></i>Playlists</a>
		</li>
		<li>
			<a href="#favorites"><i class="fas fa-heart"></i>Favorites</a>
		</li>
	</ul>
	<div class="cr_pl">
		<a href="#create_playlist"><i class="far fa-plus-circle"></i>Create Playlist</a>
	</div>
</div>
<!-- Controls Bar -->
<div class="controls-bar">
	<div class="controls-bar-left">
		<div class="now-playing">
			<span draggable="true">
				<a href="#now-playing">
					<div class="cover-shadow">
						<div class="cover-img"></div>
					</div>
				</a>
			</span>
			<div class="track-info ellipsis-one-line">
				<div class="track-info-name ellipsis-one-line">
					<div class="context-wrapper">
						<span>
							<a href="#now-playing-name">Track Name</a>
						</span>
					</div>
				</div>
				<div class="track-info-artists ellipsis-one-line">
					<div class="context-wrapper">
						<span>
							<a href="#now-playing-artists">Artists</a>
						</span>
					</div>
				</div>
			</div>
			<div class="button-add">
				<button class="fal fa-plus" title="Add to Playlist"></button>
				<button class="fal fa-heart" title="Add to Favorites"></button>
			</div>
		</div>
	</div>
	<div class="controls-bar-center">
		<div class="player-controls-buttons">
			<button class="fal fa-random" title="Enable shuffle"></button>
			<button class="fal fa-step-backward" title="Previous"></button>
			<button class="fas fa-play" title="Play"></button>
			<button class="fal fa-step-forward" title="Next"></button>
			<button class="fal fa-repeat-alt" title="Enable repeat"></button>
		</div>
		<div class="playback-bar">
			<div class="playback-bar-progress-time">0:18</div>
			<div class="progress">
				<div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
			<div class="playback-bar-progress-time">3:00</div>
		</div>
	</div>
	<div class="controls-bar-right">
		<div class="extra-controls">
			<button class="fal fa-list" title="Queue"></button>
			<div class="volume-bar">
				<button class="fal fa-volume" aria-label="Mute"></button>
				<div class="progress">
					<div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
<!-- code goes here -->
<!-- <form method="get" autocomplete="off" class="text-center">
	{{ form }}
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
<div class="row">
	<div class="col-md-6">
		<div class="text-center">
			<h3>Songs</h3>
			{% for track in songs %}
				{{ track }}
			{% endfor %}
		</div>
	</div>
	<div class="col-md-6">
		<div class="text-center">
			<h3>Recommended Songs</h3>
			{% for track in rec_songs %}
				<div>{{ track }}</div>
			{% endfor %}
		</div>
	</div>
</div> -->