<div class="controls-bar-left">
	<div class="now-playing">
		<span draggable="true">
			<a href="#now-playing">
				<div class="cover-shadow">
					<div class="cover-img"></div>
				</div>
			</a>
		</span>
		<div class="track-info">
			<div class="track-info-name">
				<div class="context-wrapper">
					<span>
						<a href="#now-playing-name" title="{{ track.track_name }}">{{ track.track_name }}</a>
					</span>
				</div>
			</div>
			<div class="track-info-artists">
				<div class="context-wrapper">
					<span>
						<a href="#now-playing-artists" title="{{ track.artists }}">{{ track.artists }}</a>
					</span>
				</div>
			</div>
		</div>
		<div class="button-add">
			<button class="fal fa-plus" title="Add to Playlist"></button>
			{% if track.id in fave %}
				<button class="fal fa-heart sr-only" title="Add to Favorites"></button>
				<button class="fas fa-heart" title="Add to Favorites"></button>
			{% else %}
				<button class="fal fa-heart" title="Add to Favorites"></button>
				<button class="fas fa-heart sr-only" title="Add to Favorites"></button>
			{% endif %}
		</div>
	</div>
</div>
<div class="controls-bar-center">
	<div class="player-controls-buttons">
		<button class="fal fa-random" title="Enable shuffle"></button>
		<button class="fal fa-step-backward" title="Previous"></button>
		<button class="fas fa-play" title="Play"></button>
		<button class="fas fa-pause sr-only" title="Pause"></button>
		<button class="fal fa-step-forward" title="Next"></button>
		<button class="fal fa-repeat-alt" title="Enable repeat"></button>
		<button class="fal fa-repeat-1-alt sr-only" title="Disable repeat"></button>
	</div>
	<div class="playback-bar">
		<div id="play-duration" class="playback-bar-progress-time">0:00</div>
		<div class="progress">
			<div id="playback-bar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
		</div>
		<div class="playback-bar-progress-time">{{ track.duration_ms }}</div>
	</div>
</div>