{% if profile.energy %}
	<div class="current-mood">
		<div class="mood-sec">
			<h6 class="mood">Current Mood:</h6>
			<div class="heatmap-cont">
				<div class="mood-heatmap"></div>
				<div class="heatpoint" title="Sad"><!-- append value to margin-left attribute coming from cfd-rate; change its title --></div>
			</div>
		</div>
		<div class="cfd-sec">
			<h6 class="cfd-rate">Confidence Rate:</h6>
			<div class="cfd-pct">%<!-- add percentage computation here --></div>
		</div>
	</div>
	<div class="rec">
		<div class="rec-title">
			<h5>Suggested Songs</h5>
		</div>
		<div class="rec-container">
			<div class="song-bdr-top"></div>
			{% for track in rec_songs %}
			<div class="song" id="{{ track.id }}">
				<button class="fas fa-play"></button>
				<button class="fas fa-pause sr-only"></button>
				<div class="song-info">
					<div class="song-info-name">{{ track.track_name }}</div>
					<div class="song-info-artists">{{ track.artists }}</div>
				</div>
				<div class="song-duration">{{ track.duration_ms }}</div>
			</div>
			{% endfor %}
		</div>
	</div>
{% endif %}