$sidebar-bg: #36273c;
$primary: #fff;
$secondary: #cac0c9;
$actv-bdr: #fed667;
$brand-sec: #2b5b84;
$controls: #402f4c;

@mixin property($pos, $disp, $bg, $h, $w) {
	position: $pos;
	display: $disp;
	background: $bg;
	height: $h;
	width: $w;
	user-select: none;
}
@mixin left-bdr($color) {
	content: "";
	position: absolute;
	background-color: $color;
	width: 4px;
	top: 5px;
	bottom: 5px;
	left: 0;
}
@mixin btn-pty{
	position: relative;
	background: none;
	border: none;
	outline: none;
	height: 24px;
	width: 32px;
	min-width: 32px;
	padding: 0;
	color: $secondary;
	&:hover {
		color: $primary;
	}
}
@mixin right-panel($bg, $pb) {
	overflow: auto;
	background: $bg;
	padding-bottom: $pb;
}
%songs-header {
	display: flex;
	align-items: center;
	height: 50px;
	color: $primary;
	padding-left: 15px;
}
%container {
	width: 100%;
	padding: 0 25px;
}
%align {
	display: flex;
	padding: 0 24px;
	align-items: center;
	i {
		height: 24px;
		width: 24px;
		line-height: 24px;
		text-align: center;
		font-size: 18px;
		margin-right: 15px;
	}
}
%bdr-top {
	border-top: 1px solid #877988;
	width: 100%;
}
%ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	transition: 0s;
}

html {
	overflow: hidden;
}
body {
	background: $sidebar-bg;
	color: $secondary;
	font-size: 14px;
	letter-spacing: .015em;
}
.sr-only {
	position: absolute !important;
	margin: 0;
}

/* sidebar */
#sidebar-wrapper {
	@include property(fixed, flex, $sidebar-bg, 100%, 215px);
  flex-direction: column;
	padding-bottom: 90px;
	/* create playlist */
	.cr_pl {
		height: 50px;
		line-height: 50px;
		border-top: 1px solid #47384d;
		a {
			@extend %align;
			&:hover {
				color: $primary;
			}
		}
	}
}

a {
	color: $secondary;
	text-decoration: none;
	&:hover {
		color: $primary;
		text-decoration: none;
	}
}
.sidebar-nav {
	list-style: none;
	flex: 1;
	margin: 0;
	padding: 0;
	.sidebar-brand {
		height: 70px;
		line-height: 70px;
		font-weight: 700;
		font-size: 26px;
		padding: 0 24px;
		a {
			color: $actv-bdr;
			span {
				color: $brand-sec;
			}
		}
	}
	.active {
		a {
			i {
				color: $brand-sec;
			}
			&, &:active, &:focus {
				color: $primary !important;
			}
			&:after {
				@include left-bdr($actv-bdr !important);
			}
		}
	}
	li {
		position: relative;
		height: 40px;
		line-height: 40px;
		&:not(:first-child) {
			a {
				@extend %align;
				&:after {
					@include left-bdr($sidebar-bg);
				}
				&:hover {
					color: $primary;
				}
			}
		}
	}
}
/* top bar */
.top-bar {
	@include property(fixed, flex, #433047, 50px, 100%);
	z-index: -1;
	min-width: 1280px;
  padding: 0 410px 0 230px;
  align-items: center;
  .search {
  	width: 50%;
  	.input-group {
  		max-width: 200px;
  	}
  	.input-group-append {
  		margin: 0;
  	}
  	i {
  		background: $primary;
  		font-size: 13px;
  		color: #544e59;
  		position: absolute;
  		border-top-right-radius: 20px;
  		border-bottom-right-radius: 20px;
  		border: none;
  		padding: .375rem .75rem .375rem 0;
  	}
  	.form-control {
	  	color: #544e59;
	  	font-size: 13px;
	  	height: 25px;
	  	border: none;
	  	border-top-left-radius: 20px;
	  	border-bottom-left-radius: 20px;
	  	padding-right: .50rem;
	  	&:focus {
	  		box-shadow: none;
	  	}
	  }
  }
  .btn-group {
  	display: flex;
  	justify-content: flex-end;
  	width: 50%;
  	.btn {
  		display: flex;
  		align-items: center;
  		font-size: 14px;
  		font-family: inherit;
  		background: none;
  		color: $secondary;
  		padding: 0;
  		&:focus, &:hover {
  			color: $primary;
  			box-shadow: none;
  		}
  	}
  	.dropdown-toggle {
  		&:before {
  			font-family: "Font Awesome 5 Pro";
  			font-size: 20px;
  			height: auto;
  			width: auto;
  			margin-right: .25em;
  		}
  		&:after {
  			font-family: "Font Awesome 5 Pro";
  			font-size: 18px;
  			line-height: 14px;
  			content: "\f107";
  			vertical-align: middle;
  			border: none;
  			height: auto;
  			width: auto;
  			margin-top: .25em;
  			margin-left: .5em;
  		}
  	}
  	&:focus {
  		outline: none;
  	}
  }
}
/* controls bar */
.controls-bar {
	@include property(fixed, flex, $controls, 90px, 100%);
	min-width: 620px;
	padding: 0 18px;
	bottom: 0;
	align-items: center;
	.controls-bar-left {
		width: 30%;
		min-width: 180px;
		.now-playing {
			display: flex;
			align-items: center;
			a {
				.cover-shadow {
					position: relative;
					box-shadow: 0 0 10px rgba(0, 0, 0, .3);
					height: 56px;
					width: 56px;
					.cover-img {
						position: absolute;
						background: url('https://i.scdn.co/image/3e86312ee46f6f7c0e96dbc4be42fb07ac0ea7df') no-repeat;
						background-size: cover;
						height: 100%;
						width: 100%;
						border: none;
					}
				}
			}
			.track-info {
				line-height: 20px;
				margin: 0 14px;
				@extend %ellipsis;
				.track-info-name {
					@extend %ellipsis;
					color: $primary;
					.context-wrapper {
						display: inline;
						a {
							color: $primary;
						}
					}
				}
				.track-info-artists {
					@extend %ellipsis;
					color: $secondary;
					font-size: 12px;
					line-height: 16px;
					.context-wrapper {
						display: inline;
					}
				}
			}
			.button-add {
				display: flex;
				flex-direction: column;
				button {
					@include btn-pty;
				}
			}
		}
	}
	.controls-bar-center {
		color: $secondary;
		width: 40%;
		max-width: 722px;
		display: flex;
		flex-direction: column;
		align-items: center;
		.player-controls-buttons {
			display: flex;
			margin-bottom: 12px;
			width: 224px;
			justify-content: space-between;
			align-items: center;
			button {
				@include btn-pty;
				&.fas.fa-play:after, &.fas.fa-pause:after {
					content: "";
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					border-radius: 100%;
					border: 1px solid #cac0c999;
				}
				&.fas.fa-play, &.fas.fa-pause {
					height: 32px;
					transition: none 33ms cubic-bezier(.3,0,.7,1);
					transition-property: all;
					&.fas.fa-play:hover, &.fas.fa-pause:hover {
						&:after {
							border-color: $primary;
						}
						transition: none 33ms cubic-bezier(.3,0,0,1);
						transition-property: all;
						transform: scale(1.06);
					}
				}
			}
			.but-clkd {
				color: #e0ba53;
				&:hover {
					color: $actv-bdr;
				}
			}
		}
		.playback-bar {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			.playback-bar-progress-time {
				font-size: 11px;
				line-height: 16px;
				min-width: 40px;
				text-align: center;
			}
			.progress {
				background: #544e59;
				height: 4px;
				width: 100%;
				.progress-bar {
					// transition-duration: .1s;
					// transition-property: background-color;
					// transition-timing-function: cubic-bezier(1,0,.7,1);
					background: $secondary;
					height: 4px;
					border-radius: .25em;
				}
			}
		}
	}
	.controls-bar-right {
		width: 30%;
		min-width: 180px;
		display: flex;
		justify-content: flex-end;
		.extra-controls {
			width: 180px;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			button {
				@include btn-pty;
			}
			.volume-bar {
				width: 136px;
				display: flex;
				align-items: center;
				.progress {
					background: #544e59;
					height: 4px;
					width: 100%;
					.progress-bar {
						// transition-duration: .1s;
						// transition-property: background-color;
						// transition-timing-function: cubic-bezier(1,0,.7,1);
						background: $secondary;
						height: 4px;
						border-radius: .25em;
					}
				}
			}
		}
	}
}
/* main view */
.main-view {
	@include property(absolute, flex, inherit, 79.8%, 100%);
	top: 50px;
	z-index: -2;
	padding-left: 215px;
	.account {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		.fal.fa-user-circle {
			font-size: 72px;
		}
	}
	.full {
		width: 100% !important;
	}
	.all-songs {
		background: linear-gradient(#49384a, #947696, #49384a);
		overflow-y: scroll;
		width: 65%;
		min-width: 748.14px;
		padding-bottom: 15px;
		.all-songs-title {
			@extend %songs-header;
		}
		.songs-container {
			@extend %container;
			.song-bdr-top {
				@extend %bdr-top;
				display: flex;
				justify-content: flex-end;
				h6 {
					color: $primary;
					width: 10%;
					margin-bottom: 0;
					padding: 5px 0;
					font-size: 14px;
				}
			}
			.song {
				display: flex;
				align-items: center;
				height: 50px;
				width: 100%;
				button {
					background: none;
					border: none;
					outline: none;
					color: #cac0c9;
				}
				.fas.fa-play, .fas.fa-pause {
					width: 7%;
					&:hover {
						color: $primary;
					}
				}
				.song-info {
					display: flex;
					flex-direction: column;
					width: 48%;
					padding-right: 15px;
					overflow: hidden;
					.song-info-name {
						@extend %ellipsis;
						color: $primary;
					}
					.song-info-artists {
						@extend %ellipsis;
						color: $secondary;
						font-size: 12px;
						line-height: 16px;
					}
				}
				.song-duration {
					height: 20px;
					width: 5%;
					font-size: 13px;
				}
				.button-add {
					display: flex;
					height: 20px;
					width: 20%;
					justify-content: center;
					button {
						padding: 0 12px 0 8px;
						&:hover {
							color: $primary;
						}
					}
				}
				.listens-ratings {
					display: flex;
					width: 20%;
					div {
						width: 50%;
					}
				}
				&:hover {
					background: rgba(67, 48, 71, .5);
				}
			}
		}
	}
	.mood-rec {
		width: 35%;
		min-width: 402.84px;
		.current-mood {
			@include right-panel(#614e62, 0);
			display: flex;
			padding-left: 15px;
			.mood-sec {
				display: flex;
				width: 50%;
				.mood {
					margin-bottom: 0;
					padding: 10px 5px 10px 0;
					color: $actv-bdr;
					font-size: 14px;
				}
				.heatmap-cont {
					width: 45%;
					display: flex;
					flex-direction: column;
					.mood-heatmap {
						background: linear-gradient(to right, black, #dc3545, white, yellow);
						height: 16px;
						margin-top: 10px;
					}
					.heatpoint {
						margin-left: -5%;
						width: 0;
						height: 0;
						border-left: 4px solid transparent;
						border-right: 4px solid transparent;
						border-bottom: 8px solid $primary;
					}
				}
			}
			.cfd-sec {
				display: flex;
				align-items: center;
				width: 50%;
				.cfd-rate {
					margin-bottom: 0;
					padding: 10px 5px 10px 0;
					color: $primary;
					font-size: 14px;
				}
				.cfd-pct {
					margin: 10px 0;
				}
			}
		}
		.rec {
			@include right-panel(linear-gradient(#614e62, #958196), 15px);
			height: 93.5%;
			.rec-title {
				@extend %songs-header;
			}
			.rec-container {
				@extend %container;
				.song-bdr-top {
					@extend %bdr-top;
				}
				.song {
					display: flex;
					align-items: center;
					height: 50px;
					width: 100%;
					button {
						background: none;
						border: none;
						outline: none;
						color: #cac0c9;
						width: 10%;
						&:hover {
							color: $primary;
						}
					}
					.song-info {
						display: flex;
						flex-direction: column;
						width: 80%;
						padding-right: 15px;
						overflow: hidden;
						.song-info-name {
							@extend %ellipsis;
							color: $primary;
						}
						.song-info-artists {
							@extend %ellipsis;
							color: $secondary;
							font-size: 12px;
							line-height: 16px;
						}
					}
					.song-duration {
						height: 20px;
						width: 10%;
						font-size: 13px;
					}
					&:hover {
						background: rgba(67, 48, 71, .5);
					}
				}
			}
		}
	}
}

.login {
	position: fixed;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	.login-head {
		min-width: 380px;
		color: $primary;
		h1 {
			font-weight: 700;
			color: $actv-bdr;
			span {
				color: $brand-sec;
			}
		}
		h5 {
			color: $secondary;
			margin-bottom: 40px;
		}
		.login-form {
			.form-group {
				margin-bottom: 5px;
				input {
					border: none;
					box-shadow: none;
				}
			}
			small {
				letter-spacing: 0;
			}
		}
		label {
			font-size: 16px;
		}
		button {
			height: 40px;
			margin-top: 30px;
			border: none;
			background: $actv-bdr;
			font-weight: 700;
			color: $sidebar-bg;
			&:hover {
				background: $brand-sec;
			}
		}
	}
}