#sidebar-wrapper .cr_pl a, .sidebar-nav li:not(:first-child) a {
  display: flex;
  padding: 0 24px;
  align-items: center;
}
#sidebar-wrapper .cr_pl a i, .sidebar-nav li:not(:first-child) a i {
  height: 24px;
  width: 24px;
  line-height: 24px;
  text-align: center;
  font-size: 18px;
  margin-right: 15px;
}

.controls-bar .controls-bar-left .now-playing .track-info, .controls-bar .controls-bar-left .now-playing .track-info .track-info-name, .controls-bar .controls-bar-left .now-playing .track-info .track-info-artists, .main-view .all-songs .songs-container .song .song-info .song-info-name, .main-view .all-songs .songs-container .song .song-info .song-info-artists, .main-view .rec .rec-container .song .song-info .song-info-name, .main-view .rec .rec-container .song .song-info .song-info-artists {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: 0s;
}

body {
  color: #cac0c9;
  font-size: 14px;
  letter-spacing: .015em;
}

/* sidebar */
#sidebar-wrapper {
  position: fixed;
  display: flex;
  background: #36273c;
  height: 100%;
  width: 215px;
  flex-direction: column;
  padding-bottom: 90px;
  /* create playlist */
}
#sidebar-wrapper .cr_pl {
  height: 50px;
  line-height: 50px;
  border-top: 1px solid #47384d;
}
#sidebar-wrapper .cr_pl a:hover {
  color: #fff;
}

a {
  color: #cac0c9;
  text-decoration: none;
}
a:hover {
  color: #fff;
  text-decoration: none;
}

.sidebar-nav {
  list-style: none;
  flex: 1;
  margin: 0;
  padding: 0;
}
.sidebar-nav .sidebar-brand {
  height: 70px;
  line-height: 70px;
  font-weight: 700;
  font-size: 26px;
  padding: 0 24px;
}
.sidebar-nav .sidebar-brand a {
  color: #fed667;
}
.sidebar-nav .sidebar-brand a span {
  color: #2b5b84;
}
.sidebar-nav .active a i {
  color: #2b5b84;
}
.sidebar-nav .active a, .sidebar-nav .active a:active, .sidebar-nav .active a:focus {
  color: #fff !important;
}
.sidebar-nav .active a:after {
  content: "";
  position: absolute;
  background-color: #fed667 !important;
  width: 4px;
  top: 5px;
  bottom: 5px;
  left: 0;
}
.sidebar-nav li {
  position: relative;
  height: 40px;
  line-height: 40px;
}
.sidebar-nav li:not(:first-child) a:after {
  content: "";
  position: absolute;
  background-color: #36273c;
  width: 4px;
  top: 5px;
  bottom: 5px;
  left: 0;
}
.sidebar-nav li:not(:first-child) a:hover {
  color: #fff;
}

/* top bar */
.top-bar {
  position: fixed;
  display: flex;
  background: #433047;
  height: 50px;
  width: 100%;
  z-index: -1;
  min-width: 1280px;
  padding: 0 410px 0 230px;
  align-items: center;
  user-select: none;
}
.top-bar .search {
  width: 50%;
}
.top-bar .search .input-group {
  max-width: 200px;
}
.top-bar .search .input-group-append {
  margin: 0;
}
.top-bar .search i {
  background: #fff;
  font-size: 13px;
  color: #544e59;
  position: absolute;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: none;
  padding: .375rem .75rem .375rem 0;
}
.top-bar .search .form-control {
  color: #544e59;
  font-size: 13px;
  height: 25px;
  border: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-right: .50rem;
}
.top-bar .search .form-control:focus {
  box-shadow: none;
}
.top-bar .btn-group {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
.top-bar .btn-group .btn {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: inherit;
  background: none;
  color: #cac0c9;
  padding: 0;
}
.top-bar .btn-group .btn:focus, .top-bar .btn-group .btn:hover {
  color: #fff;
  box-shadow: none;
}
.top-bar .btn-group .dropdown-toggle:before {
  font-family: "Font Awesome 5 Pro";
  font-size: 20px;
  height: auto;
  width: auto;
  margin-right: .25em;
}
.top-bar .btn-group .dropdown-toggle:after {
  font-family: "Font Awesome 5 Pro";
  font-size: 18px;
  line-height: 14px;
  content: "\f107";
  vertical-align: middle;
  border: none;
  height: auto;
  width: auto;
  margin-top: .25em;
  margin-left: .5em;
}
.top-bar .btn-group:focus {
  outline: none;
}

/* controls bar */
.controls-bar {
  position: fixed;
  display: flex;
  background: #402f4c;
  height: 90px;
  width: 100%;
  min-width: 620px;
  padding: 0 18px;
  bottom: 0;
  align-items: center;
  user-select: none;
}
.controls-bar .controls-bar-left {
  width: 30%;
  min-width: 180px;
}
.controls-bar .controls-bar-left .now-playing {
  display: flex;
  align-items: center;
}
.controls-bar .controls-bar-left .now-playing a .cover-shadow {
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  height: 56px;
  width: 56px;
}
.controls-bar .controls-bar-left .now-playing a .cover-shadow .cover-img {
  position: absolute;
  background: url("https://i.scdn.co/image/3e86312ee46f6f7c0e96dbc4be42fb07ac0ea7df") no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  border: none;
}
.controls-bar .controls-bar-left .now-playing .track-info {
  line-height: 20px;
  margin: 0 14px;
}
.controls-bar .controls-bar-left .now-playing .track-info .track-info-name {
  color: #fff;
}
.controls-bar .controls-bar-left .now-playing .track-info .track-info-name .context-wrapper {
  display: inline;
}
.controls-bar .controls-bar-left .now-playing .track-info .track-info-name .context-wrapper a {
  color: #fff;
}
.controls-bar .controls-bar-left .now-playing .track-info .track-info-artists {
  color: #cac0c9;
  font-size: 12px;
  line-height: 16px;
}
.controls-bar .controls-bar-left .now-playing .track-info .track-info-artists .context-wrapper {
  display: inline;
}
.controls-bar .controls-bar-left .now-playing .button-add {
  display: flex;
  flex-direction: column;
}
.controls-bar .controls-bar-left .now-playing .button-add button {
  position: relative;
  background: none;
  border: none;
  outline: none;
  height: 24px;
  width: 32px;
  min-width: 32px;
  padding: 0;
  color: #cac0c9;
}
.controls-bar .controls-bar-left .now-playing .button-add button:hover {
  color: #fff;
}
.controls-bar .controls-bar-center {
  color: #cac0c9;
  width: 40%;
  max-width: 722px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.controls-bar .controls-bar-center .player-controls-buttons {
  display: flex;
  margin-bottom: 12px;
  width: 224px;
  justify-content: space-between;
  align-items: center;
}
.controls-bar .controls-bar-center .player-controls-buttons button {
  position: relative;
  background: none;
  border: none;
  outline: none;
  height: 24px;
  width: 32px;
  min-width: 32px;
  padding: 0;
  color: #cac0c9;
}
.controls-bar .controls-bar-center .player-controls-buttons button:hover {
  color: #fff;
}
.controls-bar .controls-bar-center .player-controls-buttons button.fas.fa-play:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 100%;
  border: 1px solid #cac0c999;
}
.controls-bar .controls-bar-center .player-controls-buttons button.fas.fa-play {
  height: 32px;
  padding-left: 1px;
  transition: none 33ms cubic-bezier(0.3, 0, 0.7, 1);
  transition-property: all;
}
.controls-bar .controls-bar-center .player-controls-buttons button.fas.fa-play.fas.fa-play:hover {
  transition: none 33ms cubic-bezier(0.3, 0, 0, 1);
  transition-property: all;
  transform: scale(1.06);
}
.controls-bar .controls-bar-center .player-controls-buttons button.fas.fa-play.fas.fa-play:hover:after {
  border-color: #fff;
}
.controls-bar .controls-bar-center .playback-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.controls-bar .controls-bar-center .playback-bar .playback-bar-progress-time {
  font-size: 11px;
  line-height: 16px;
  min-width: 40px;
  text-align: center;
}
.controls-bar .controls-bar-center .playback-bar .progress {
  background: #544e59;
  height: 4px;
  width: 100%;
}
.controls-bar .controls-bar-center .playback-bar .progress .progress-bar {
  background: #cac0c9;
  height: 4px;
  border-radius: .25em;
}
.controls-bar .controls-bar-right {
  width: 30%;
  min-width: 180px;
  display: flex;
  justify-content: flex-end;
}
.controls-bar .controls-bar-right .extra-controls {
  width: 180px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.controls-bar .controls-bar-right .extra-controls button {
  position: relative;
  background: none;
  border: none;
  outline: none;
  height: 24px;
  width: 32px;
  min-width: 32px;
  padding: 0;
  color: #cac0c9;
}
.controls-bar .controls-bar-right .extra-controls button:hover {
  color: #fff;
}
.controls-bar .controls-bar-right .extra-controls .volume-bar {
  width: 136px;
  display: flex;
  align-items: center;
}
.controls-bar .controls-bar-right .extra-controls .volume-bar .progress {
  background: #544e59;
  height: 4px;
  width: 100%;
}
.controls-bar .controls-bar-right .extra-controls .volume-bar .progress .progress-bar {
  background: #cac0c9;
  height: 4px;
  border-radius: .25em;
}

/* main view */
.main-view {
  position: absolute;
  display: flex;
  background: inherit;
  height: 80%;
  width: 100%;
  top: 50px;
  z-index: -2;
  padding-left: 215px;
}
.main-view .all-songs {
  background: linear-gradient(#49384a, #947696, #49384a);
  overflow: auto;
  width: 65%;
  padding-bottom: 15px;
}
.main-view .all-songs .all-songs-title {
  display: flex;
  align-items: center;
  height: 50px;
  color: #fff;
  padding-left: 15px;
}
.main-view .all-songs .songs-container {
  width: 100%;
  padding: 0 25px;
}
.main-view .all-songs .songs-container .song-bdr-top {
  display: flex;
  border-top: 1px solid #62525d;
  width: 100%;
  justify-content: flex-end;
}
.main-view .all-songs .songs-container .song-bdr-top h6 {
  color: #827782;
  width: 10%;
  padding-top: 5px;
  font-size: 14px;
}
.main-view .all-songs .songs-container .song {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  user-select: none;
}
.main-view .all-songs .songs-container .song button {
  background: none;
  border: none;
  outline: none;
  color: #cac0c9;
}
.main-view .all-songs .songs-container .song .fas.fa-play {
  width: 7%;
}
.main-view .all-songs .songs-container .song .song-info {
  display: flex;
  flex-direction: column;
  width: 48%;
  padding-right: 15px;
  overflow: hidden;
}
.main-view .all-songs .songs-container .song .song-info .song-info-name {
  color: #fff;
}
.main-view .all-songs .songs-container .song .song-info .song-info-artists {
  color: #cac0c9;
  font-size: 12px;
  line-height: 16px;
}
.main-view .all-songs .songs-container .song .song-duration {
  height: 20px;
  width: 5%;
  font-size: 13px;
}
.main-view .all-songs .songs-container .song .button-add {
  display: flex;
  height: 20px;
  width: 20%;
  justify-content: center;
}
.main-view .all-songs .songs-container .song .button-add button {
  padding: 0 12px 0 8px;
}
.main-view .all-songs .songs-container .song .listens-ratings {
  display: flex;
  width: 20%;
}
.main-view .all-songs .songs-container .song .listens-ratings div {
  width: 50%;
}
.main-view .all-songs .songs-container .song:hover {
  background: rgba(67, 48, 71, 0.5);
}
.main-view .rec {
  overflow: auto;
  background: linear-gradient(#614e62, #958196, #614e62);
  width: 35%;
  padding-bottom: 15px;
}
.main-view .rec .rec-title {
  display: flex;
  align-items: center;
  height: 50px;
  color: #fff;
  padding-left: 15px;
}
.main-view .rec .rec-container {
  width: 100%;
  padding: 0 25px;
}
.main-view .rec .rec-container .song-bdr-top {
  border-top: 1px solid #877988;
  width: 100%;
  height: 10px;
}
.main-view .rec .rec-container .song {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  user-select: none;
}
.main-view .rec .rec-container .song button {
  background: none;
  border: none;
  outline: none;
  color: #cac0c9;
}
.main-view .rec .rec-container .song .fas.fa-play {
  width: 10%;
}
.main-view .rec .rec-container .song .song-info {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-right: 15px;
  overflow: hidden;
}
.main-view .rec .rec-container .song .song-info .song-info-name {
  color: #fff;
}
.main-view .rec .rec-container .song .song-info .song-info-artists {
  color: #cac0c9;
  font-size: 12px;
  line-height: 16px;
}
.main-view .rec .rec-container .song .song-duration {
  height: 20px;
  width: 10%;
  font-size: 13px;
}
.main-view .rec .rec-container .song:hover {
  background: rgba(67, 48, 71, 0.5);
}
